<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./styles/output.css" rel="stylesheet">
    </head>
    <body>
        {% include "md_and_up_header.njk" %}
        {% include "mobile_header.njk" %}  
    </body>
</html>