        <header class="fixed border-b border-gray-200 bg-white hidden md:block top-[0] w-full z-50">
            <div class="flex items-center justify-between lg:px-24 px-16 py-4">
                <!-- Logo -->
                <a href="/">
                    <img 
                        src="./imgs/omo_aw_logo.png" 
                        alt="omo auto work logo"
                        class="max-w-[80px] object-contain"
                    ></img>
                </a>
                <!-- Right Side -->
                <div class="flex items-center gap-7">
                    {% set navItems = ["Services", "Our Work", "FAQ", "Visit Us", "Email"] %}
                    <ul class="gap-10 flex items-center list-none">
                        {% for item in navItems %}
                            <li>
                                <a
                                    href="#"
                                    class="font-medium hover:text-black hover:text-shadow-lg text-sm text-gray-700 transition"
                                >
                                    {{ item }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </header>
