<header class="border-b border-gray-200 bg-white md:hidden w-full px-6 py-4">
    <!-- Logo -->
    <a href="/">
        <img 
            src="./imgs/omo_aw_logo.png" 
            alt="omo auto work logo"
            class="max-w-[80px] object-contain"
        ></img>
    </a>
</header>